@{
    Layout = null;
}
<!DOCTYPE HTML />
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/contact-style.css" rel="stylesheet" />
    </head>
    <body>
        <div id="header" class="row">
            <a id="title-navbar" class="navbar-brand" href="#">Example Site</a>
            <button id="menu-btn" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#contact-navbar">
                Menu
            </button>
            <div id="contact-navbar" class="collapse navbar-collapse">
                <ul id="header-navbar" class="nav navbar-nav">
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">In the News</a></li>
                    <li><a href="#">Our Locations</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>                               
        </div>
        <div id="facebook-phone-header">
            <a href="https://www.facebook.com" target="_blank">
                <img id="facebook-header" src="~/Images/facebook-grey.png" alt="Facebook link" />
            </a>
            <div id="phone-container">
                <img id="phone-icon" src="~/Images/phone-icon.png" alt="phone icon" />
                <p id="header-phone-number">555 - 555 - 5555</p>
            </div>
        </div> 
        <img id="banner-image" class="jumbotron" src="~/Images/banner.png" alt="Contact form banner" />
        <div id="main-content" class="container">
            <h1>Get in Touch</h1>
            <p>
                If you have any questions or comments, we'd love to hear from you. Just fill 
                out the form below and we'll get back to you soon. Rest assured that any 
                information you provide will remain confidential.
            </p>
            <div class="input-container">
                <label for="first-name-input">First Name</label>
                <div>
                    <input class="form-control" type="text" name="first-name-input" />
                    <span class="glyphicon glyphicon-asterisk"></span>
                </div>
            </div>
            <div class="input-container">
                <label for="email-input">Email</label>
                <div>
                    <input class="form-control" type="email" name="email-input" />
                    <span class="glyphicon glyphicon-asterisk"></span>
                </div>
            </div>
            <div class="input-container">
                <label for="subject-input">Subject</label>
                <div>
                    <input class="form-control" type="text" name="subject-input" />
                    <span class="glyphicon glyphicon-asterisk"></span>
                </div>
            </div>
            <div class="input-container">
                <label for="message-input">Message</label>
                <span class="glyphicon glyphicon-asterisk"></span>
                <textarea class="form-control" name="message-input"></textarea>
            </div>
            <button id="submit-btn">Submit</button>
        </div>
        <div id="location-information-container">
            <div id="location-information" class="location-sub-container">
                <div>
                    <h3>Our Location</h3>
                    <p>
                        Example Site<br />
                        2500 Technology Dr<br />
                        Louisville, KY 40299<br />
                        www.examplesite.com
                    </p>
                    <h4>Call Us</h4>
                    <p>
                        Louisville: 555-555-5555<br />
                        San Antonio: 555-555-5555<br />
                        Toll Free: 800-585-5555
                    </p>
                    <a href="https://www.facebook.com" target="_blank">
                        <img id="facebook-location" src="~/Images/facebook-white.png" alt="Facebook link" />
                    </a>
                </div>
            </div>
            <img id="map-image" class="location-sub-container" src="~/Images/map.png" alt="Google Maps Location" />
        </div>
        <footer>
            <ul>
                <li>About Us</li>
                <li>How It Works</li>
                <li>In the News</li>
                <li>Our Locations</li>
                <li>FAQ</li>
                <li>Contact Us</li>
            </ul>
            <ul>
                <li>&copy;Example Site 2015</li>
                <li>Privacy Statement</li>
                <li>Terms of Use</li>
            </ul>
        </footer>
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>