@{
    Layout = null;
}
<!DOCTYPE HTML />
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/contact-style.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div id="header" class="row">
                <a id="title-navbar" class="navbar-brand" href="#">Example Site</a>
                <button id="menu-btn" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#contact-navbar">
                    Menu
                </button>
                <div id="contact-navbar" class="collapse navbar-collapse">
                    <ul id="header-navbar" class="nav navbar-nav">
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">In the News</a></li>
                        <li><a href="#">Our Locations</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div id="facebook-phone-header">
                <a href="https://www.facebook.com" target="_blank">
                    <img id="facebook-header" src="~/Images/facebook-grey.png" alt="Facebook link" />
                </a>
                <div id="phone-container">
                    <img id="phone-icon" src="~/Images/phone-icon.png" alt="phone icon" />
                    <p id="header-phone-number">555 - 555 - 5555</p>
                </div>
            </div>
        </header>         
        <img id="banner-image" class="jumbotron" src="~/Images/banner.png" alt="Contact form banner" />
        <div id="main-content" class="container">
            <h1>Get in Touch</h1>
            <p>
                If you have any questions or comments, we'd love to hear from you. Just fill
                out the form below and we'll get back to you soon. Rest assured that any
                information you provide will remain confidential.
            </p>
            <form id="contact-form">
                <div class="input-container">
                    <label for="first-name-input">First Name</label>
                    <div>
                        <input class="form-control" type="text" name="name" required />
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </div>
                </div>
                <div class="input-container">
                    <label for="email-input">Email</label>
                    <div>
                        <input class="form-control" type="email" name="email" required novalidate />
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </div>
                </div>
                <div class="input-container">
                    <label for="subject-input">Subject</label>
                    <div>
                        <input class="form-control" type="text" name="subject" required />
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </div>
                </div>
                <div class="input-container">
                    <label for="message-input">Message</label>
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <textarea class="form-control" rows="10" name="message" maxlength="250" required></textarea>
                </div>
                <button id="submit-btn" type="submit">Submit</button>
            </form>            
        </div>    
        <div id="location-information-container">
            <div id="location-information" class="location-sub-container">
                <div>
                    <h3>Our Location</h3>
                    <p>
                        Example Site<br />
                        2500 Technology Dr<br />
                        Louisville, KY 40299<br />
                        www.examplesite.com
                    </p>
                    <h4>Call Us</h4>
                    <p>
                        Louisville: 555-555-5555<br />
                        San Antonio: 555-555-5555<br />
                        Toll Free: 800-585-5555
                    </p>
                    <a href="https://www.facebook.com" target="_blank">
                        <img id="facebook-location" src="~/Images/facebook-white.png" alt="Facebook link" />
                    </a>
                </div>
            </div>
            <img id="map-image" class="location-sub-container" src="~/Images/map.png" alt="Google Maps Location" />
        </div>
        <footer>
            <ul id="footer-links-1">
                <li><a href="#">About Us</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">In the News</a></li>
                <li><a href="#">Our Locations</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul id="footer-links-2">
                <li><a href="#">&copy;Example Site 2015</a></li>
                <li><a href="#">Privacy Statement</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </footer>
        <div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <ul></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal">Okay</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#contact-form').validate({
                    focusInvalid: false,
                    messages: {
                        name: "Please specify your name",
                        email: {
                            required: "We need your email address to contact you",
                            email: "Your email address must be in the format of name@domain.com"
                        },
                        subject: "Please specify a subject for the email",
                        message: "Please include a message to be sent"
                    },
                    wrapper: 'li',
                    errorPlacement: function (error) {
                        var errorContainer = $('#alert-modal').find('ul');
                        if (errorContainer.html().indexOf(error.text()) < 0)
                            errorContainer.append(error);
                    }
                });

                $('#contact-form').on('submit', function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var modal = $('#alert-modal');
                    if (modal.find('ul').html().trim().length) {
                        console.log('show modal');
                        modal.modal('show');
                    }
                    else {
                        console.log('send data');
                        var data = {
                            "firstName": form.find('input[name="name"]').val().trim(),
                            "email": form.find('input[name="email"]').val().trim(),
                            "subject": form.find('input[name="subject"]').val().trim(),
                            "message": form.find('textarea').val().trim()
                        };

                        $.ajax({
                            method: 'POST',
                            cache: false,
                            contentType: 'application/json',
                            url: '@Url.Action("SendForm", "Contact")',
                            data: JSON.stringify(data),
                            complete: function (jqXHR, textStatus) {
                                console.log('jqXHR: ' + jqXHR + 'textStatus: ' + textStatus);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log('jqXHR: ' + jqXHR + 'textStatus: ' + textStatus + 'errorThrown: ' + errorThrown );
                            }
                        });
                    }
                });

                $('#alert-modal').on('hide.bs.modal', function () {
                    console.log('hid modal');
                    $(this).find('ul').html('');
                });
            });
        </script>
    </body>
</html>