@{
    Layout = null;
}
<!DOCTYPE HTML />
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
        </header>
        <div class="container-fluid">
            <h1>Get in Touch</h1>
            <p>
                If you have any questions or comments, we'd love to hear from you. Just fill 
                out the form below and we'll get back to you soon. Rest assured that any 
                information you provide will remain confidential.
            </p>
            <div>
                <label for="first-name-input">First Name</label>
                <input type="text" name="first-name-input" />
            </div>
            <div>
                <label for="email-input">Email</label>
                <input type="email" name="email-input" />
            </div>
            <div>
                <label for="subject-input">Subject</label>
                <input type="text" name="subject-input" />
            </div>
            <div>
                <label for="message-input">Message</label>
                <textarea name="message-input" />
            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>