@{
    Layout = null;
}
<!DOCTYPE HTML />
<html>
    <head>
        <title></title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/contact-style.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <span>Example Site</span>
            <ul>
                <li>How It Works</li>
                <li>In the News</li>
                <li>Our Locations</li>
                <li>FAQ</li>
                <li>Contact Us</li>
            </ul>
            <a href="https://www.facebook.com" target="_blank">
                <img src="~/Images/facebook-grey.png" alt="Facebook link" />
            </a>
            <div>
                <img src="~/Images/phone-icon.png" alt="phone icon" />
                555 - 555 - 5555
            </div>
        </header>
        <img id="banner-image" class="jumbotron" src="~/Images/banner.png" alt="Contact form banner" />
        <div class="container">
            <h1>Get in Touch</h1>
            <p>
                If you have any questions or comments, we'd love to hear from you. Just fill 
                out the form below and we'll get back to you soon. Rest assured that any 
                information you provide will remain confidential.
            </p>
            <div>
                <label for="first-name-input">First Name</label>
                <input class="form-control" type="text" name="first-name-input" />
            </div>
            <div>
                <label for="email-input">Email</label>
                <input class="form-control" type="email" name="email-input" />
            </div>
            <div>
                <label for="subject-input">Subject</label>
                <input class="form-control" type="text" name="subject-input" />
            </div>
            <div>
                <label for="message-input">Message</label>
                <textarea class="form-control" name="message-input"></textarea>
            </div>
            <button>Submit</button>
        </div>
        <div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <pre></pre>
            </div>
            <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="~/Images/map.png" alt="Google Maps Location" />
        </div>
        <footer>

        </footer>
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>